<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur_robot">

    <xacro:include filename="ur_description/urdf/inc/ur_macro.xacro"/>
    
    <xacro:arg name="gripper"          default="false"/>
    <xacro:arg name="soft_gripper"     default="false" />
    
    <xacro:arg name="prefix" default=""/>
    <!-- xacro:arg name="transmission_hw_interface" default="hardware_interface/EffortJointInterface"/ -->
    
    <xacro:arg name="joint_limit_params" default="/robot_descriptions/ur_description/config/ur5e/joint_limits.yaml"/>
    <xacro:arg name="kinematics_params"  default="/robot_descriptions/ur_description/config/ur5e/default_kinematics.yaml"/>
    <xacro:arg name="physical_params"    default="/robot_descriptions/ur_description/config/ur5e/physical_parameters.yaml"/>
    <xacro:arg name="visual_params"      default="/robot_descriptions/ur_description/config/ur5e/visual_parameters.yaml"/>
    <!-- legal values:
     - hardware_interface/PositionJointInterface
     - hardware_interface/VelocityJointInterface
     - hardware_interface/EffortJointInterface
    -->
    <xacro:arg name="safety_limits"     default="false"/>
    <xacro:arg name="safety_pos_margin" default="0.15"/>
    <xacro:arg name="safety_k_position" default="20"/>
    
    <xacro:ur_robot
    prefix="$(arg prefix)"
    joint_limits_parameters_file="$(arg joint_limit_params)"
    kinematics_parameters_file="$(arg kinematics_params)"
    physical_parameters_file="$(arg physical_params)"
    visual_parameters_file="$(arg visual_params)"
    transmission_hw_interface="$(arg transmission_hw_interface)"
    safety_limits="$(arg safety_limits)"
    safety_pos_margin="$(arg safety_pos_margin)"
    safety_k_position="$(arg safety_k_position)"/>
         
	    
    <xacro:if value="$(arg soft_gripper)">
	    <xacro:include filename="$(find gripper_description)/urdf/soft_gripper.macro.xacro" />
	    <xacro:soft_gripper 
		    transmission_hw_interface="$(arg transmission_hw_interface)"			
		    grasp_plugin="$(arg use_grasp_plugin)"			
		    gripper_active="$(arg gripper)"/>
    </xacro:if>
    
    <xacro:unless value="$(arg soft_gripper)">
	    <xacro:include filename="$(find gripper_description)/urdf/gripper.macro.xacro" />
	    <xacro:gripper 
		    transmission_hw_interface="$(arg transmission_hw_interface)"			
		    grasp_plugin="$(arg use_grasp_plugin)"			
		    gripper_active="$(arg gripper)"/>
    </xacro:unless>
    
    
    <joint name="gripper_robot_joint" type="fixed">
            <parent link="tool0_without_gripper"/>
            <child link="gripper_base"/>
            <origin xyz="0 0 0" rpy="0 0 3.14"/>
</joint>

</robot>
